{% extends 'base.html' %}

{% block mymessage %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card shadow-lg p-4 rounded-3" style="max-width: 400px; width: 100%;">
        <h1 class="text-center mb-3" style="font-size: 1.8rem;">Convert Pdf to word </h1>
        <p class="text-muted text-center" style="font-size: 0.9rem;">
            Upload your pdf file and Convert into Word 
        </p>
        <hr>

        {% if error_message %}
        <div class="alert alert-danger mt-3 text-center">
            {{ error_message }}
        </div>
        {% endif %}

        <form method="post" enctype="multipart/form-data" class="mt-3">
            {% csrf_token %}
            <div class="mb-3 text-center">
                <label for="pdf_file" class="btn btn-outline-primary w-100" style="font-size: 0.95rem; cursor: pointer;">
                    Upload PDF
                </label>
                <input type="file" name="pdf_file" id="pdf_file" class="form-control d-none" accept="application/pdf" required>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary w-100" style="font-size: 0.95rem;">Convert & Download</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
